body {
	font-family: "Baloo+Tamma+2", sans-serif;
	font-weight: 400;
	/*font-size: 16px;*/
	line-height: 1.7;
	color: rgb(0, 0, 0);
}

.heading-primary {
	color: white;
	text-transform: uppercase;

	&--main {
		display: block;
		font-size: 6rem;
		font-weight: 300;
		letter-spacing: 3.5rem;
	}

	&--sub {
		display: block;
		font-size: 2rem;
		font-weight: 400;
	}
}

.heading-secondary {
	font-size: 3.5rem;
	text-transform: uppercase;
	font-weight: 700;
	display: inline-block;
}
