.section-book {
	padding: 0;
}

.book {
	background-image: linear-gradient(to right bottom, rgba(230, 255, 230, 0.1), rgba(102, 255, 102, 0.1));
	border-radius: 3px;
	background-size: 100%;
	box-shadow: 0 1.5rem 4rem rgba(115, 115, 115, .9);

	&__list {
		list-style: none;
		margin: 2rem;
		padding: 2rem 4rem;
	}

	&__item {
		letter-spacing: 2px;
		margin-right: 4rem;
		display: inline-block;
		font-size: 1.7rem;
	}

	&__link {
		text-decoration: none;
	}
}
